{
    "database":{
        "username":"USERNAME",
        "password":"PASSWORD"
    }
}
// Rename this file to 'secrets.json' and remove this entire comment line. Then place your database user's details inside the quotes above.
